@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  /*background: rgb(33,12,79);
background: -moz-linear-gradient(90deg, rgba(33,12,79,1) 12%, rgba(0,255,222,1) 45%, rgba(12,7,15,1) 82%);
background: -webkit-linear-gradient(90deg, rgba(33,12,79,1) 12%, rgba(0,255,222,1) 45%, rgba(12,7,15,1) 82%);
background: linear-gradient(90deg, rgba(33,12,79,1) 12%, rgba(0,255,222,1) 45%, rgba(12,7,15,1) 82%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#210c4f",endColorstr="#0c070f",GradientType=1);*/
}

.App-title {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.App-input {
  padding: 1rem;
  font-size: 1.5rem;
  width: 50%;
  margin-bottom: 2rem;
}

.App-error {
  color: red;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.App-message {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.App-playlist {
  font-size: 1.5rem;
  font-weight: bold;
  color: blue;
  text-decoration: underline;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
